<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PercorsoCircolareConnectionString" connectionString="Data Source=.;Initial Catalog=PercorsoCircolare;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>