body{
    height: 100vh;
    /*text-align: center;*/
}
/*Trigger Button*/
.create-trigger {
    font-weight: bold;
    color: #fff;
    background: linear-gradient(to bottom right, #373a3c, #F87E7B);
    padding: 15px 30px;
    border-radius: 30px;
    position: relative;
    top: 50%;
}

/*Modal*/
h4 {
    font-weight: bold;
    color: #fff;
}
.close {
    color: #fff;
    transform: scale(1.2)
}
.modal-content {
    font-weight: bold;
    background: linear-gradient(to bottom right,#F87E7B,#373a3c);
}
.form-control {
    margin: 1em 0;
}
.form-control:hover, .form-control:focus {
    box-shadow: none;  
    border-color: #fff;
}
.username, .password {
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 2px solid #eee;
    padding-left: 0;
    font-weight: normal;
    background: transparent;  
}
.form-control::-webkit-input-placeholder {
    color: #eee;  
}
.form-control:focus::-webkit-input-placeholder {
    font-weight: bold;
    color: #fff;
}
#btnCreate, #btnCreateRoom {
    padding: 6px 20px;
    border-radius: 20px;
    background: none;
    border: 2px solid #FAB87F;
    color: #FAB87F;
    font-weight: bold;
    transition: all .5s;
    margin-top: 1em;
    text-align: center;

}
    #btnCreate:hover, #btnCreateRoom:hover {
        background: #FAB87F;
        color: #fff;
    }

/*.dropdown-dark {
    background: #444;
    border-color: #111111 #0a0a0a black;
    background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
    background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
    background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4));
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
}*/

.dropdown-dark:before {
    border-bottom-color: #aaa;
}

.dropdown-dark:after {
    border-top-color: #aaa;
}

.dropdown-dark .dropdown-select {
    color: #aaa;
    text-shadow: 0 1px black;
    background: #444;
}

.dropdown-dark .dropdown-select:focus {
    color: #ccc;
}

.dropdown-dark .dropdown-select > option {
    background: #444;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
}